body {
    font-family: 'Roboto', sans-serif;
}

.header {
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/sign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.btn-group-vertical {
    margin-top: 200px;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: 90px;
    padding: 50px 30px;
}

.label-Sign {
    width: 100%;
    font-weight: 700;
    font-size: 30px;
    color: black;
    text-align: center;
}

.btn-sign {
    width: 100%;
    text-align: center;
    background-color: #1F75FE;
}

.input-login,
.input-password,
.btn-sign {
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid gray;
    color: black;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
}

/* WEATHER TRACKER */
.header2 {
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/sign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.weather-tracker {
    color: white;
    text-shadow:
            -1px -1px 0 black,
            1px -1px 0 black,
            -1px  1px 0 black,
            1px  1px 0 black;
}

.btn-search {
    margin-left: 20px;
}

.col-md-4 {
    text-align: center;

}

.btn-toolbar {
    border-radius: 8px;
}

.search,
.btn-search,
.btn-sign-out ,
.btn-primary {
    border-radius: 6px;
    border: 1px solid black;
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
    padding: 4px;
}

.btn-sign-out,
.btn-search,
.btn-primary {
    background-color: white;
    color: black;
}

.info-for-guest{
    color: gray;
    position: fixed;
    bottom: 20px;
    left: 49%;
    transform: translateX(-49%);
    padding: 10px;
}
.btn-add{
    background-color: #1F75FE;
    color: white;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid white;
    font-weight: 400;
    font-size: 20px;
}

/*HOME*/
.guest-search-result{
padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.guest-search-result ul {
    list-style-type: none;
    padding: 0;
}

.guest-search-result li {
    flex: 0 1 50px;
    border: 2px solid #fff;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    background-color: #fff;
}
.guest-search-result li span {
    display: block;
}
.guest-search-result ul h3 {
    color: white;
}

.data{
    font-weight: 150;
    font-size: 17px;
}

.forecast,
.forecast2 td{
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.result th {
    text-align: center;
    padding: 10px;
}

.result td {
    text-align: center;
    padding: 10px;
}

.result tr {
    border-bottom: 1px solid #ddd;
}

.result td b {
    display: block;
}


.column{
    display: flex;
    text-align: center;
}

.column td {
    flex: 1;
    text-align: center;
    padding: 10px;
}

.error{
    font-weight: 500;
    font-size: 50px;
    margin-top: 250px;
}

.info-row {
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
}

.info-row span,.info-row b {
    flex: 1;
}



