<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weather tracker</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel:
    wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous">
    <link th:href="@{resources/css/bootstrap.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{resources/css/style.css}">

    <link rel="short cut icon" th:href="@{resources/img/icon.png}" type="icon">
</head>
<body>
<div class="header2">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous">
    </script>
    <div class="container-center">
        <div class="row">
            <div class="col-md-4">
                <h2 class="weather-tracker">Weather tracker</h2>
            </div>

            <div class="col-md-4">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <form action="/guest-search" method="get">
                        <input class="search" placeholder="Enter location name"
                               type="text" id="name"
                               name="name" required
                               title="Name location must contain only letters ">
                        <input class="btn-search" type="submit" value="Search">
                    </form>
                </div>
                <div class="error" th:if="${error}" style="color: red;">
                    <span th:text="${error}"></span>
                </div>
            </div>

            <div class="col-md-4">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span>Guest</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <form action="/sign-in" method="get">
                                <button type="submit" class="dropdown-item">Sign In</button>
                            </form>
                        </li>
                        <li>
                            <form action="/sign-up" method="get">
                                <button type="submit" class="dropdown-item">Sign Up</button>
                            </form>
                        </li>
                    </ul>
                    <h5 class="info-for-guest">You came as a guest.
                        To view the forecast, log into you account or log up.</h5>
                </div>
            </div>
        </div>
    </div>

    <div class="container-center2">
        <div class="row">
            <div class="col-md-4" th:each="forecast : ${forecasts}">
                <div class="guest-search-result" th:if="${name != null}">
                    <ul>
                        <li>
                            <section class="data">
                                <table class="table">
                                    <thead class="result">
                                    <tr class="forecast2">
                                        <td>Forecast for today</td>
                                    </tr>
                                    <tr class="column">
                                        <td>
                                            <div class="temp">
                                                <span>Temp:</span>
                                                <b th:utext="${forecast.getTemp()}"></b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="column">
                                        <td>
                                            <div class="info-row">
                                                <span>Country:</span>
                                                <b th:utext="${forecast.getCountry()}"></b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info-row">
                                                <span>Sity:</span>
                                                <b th:utext="${name}"></b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info-row">
                                                <span>Lat:</span>
                                                <b th:utext="${forecast.getLat()}"></b>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="info-row">
                                                <span>Long:</span>
                                                <b th:utext="${forecast.getLon()}"></b>
                                            </div>
                                        </td>
                                    </tr>
                                    </thead>
                                </table>
                            </section>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</div>
</body>
</html>